<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <thead>
            <% cabecalho.forEach(coluna => { %>
                <th><%= coluna %></th>
            <% }) %>
        </thead>
        <tbody>
            <% linhas.forEach(linha => { %>
                <tr>
                    <% linha.forEach(elemento => { %>
                        <td><%= elemento %></td>
                    <% }) %>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>